body { background-color: #fff; color:#212121; font-family: 'PT Sans Narrow', sans-serif; }

header { color: #fff; background: url('../images/bgr-header.jpg') no-repeat, #000; background-position: top center; background-size: cover; min-height: 700px; }
header .logo { margin: 40px 0 0px; }
header .event-date { margin-top: 5px; margin-bottom: 20px; }

#counter { font-size: 5em; font-weight: bold; color: #fff; }
#counter span { position: relative; }
#counter .days::before,
#counter .hours::before,
#counter .mins::before,
#counter .secs::before { content: 'дней'; position: absolute; font-size: 0.15em; text-transform: uppercase; top: 0px; left: 5px; }
#counter .hours::before { content: 'часов'; }
#counter .mins::before { content: 'минут'; }
#counter .secs::before { content: 'секунд'; }

h1.title { text-transform: uppercase; font-size: 50px; margin: 50px 0; }

.reg { padding-bottom: 50px; background: #f0f0f0; font-size: 18px; }
.reg .price { font-weight: bold; }
.reg .price .highlight { color: #ae9b76; }
.reg .bank-icon { width: 33px; height: 26px; background-repeat: no-repeat; background-size: contain; background-position: center center; display: inline-block; }
.reg .bank-icon.mastercard { background-image: url('../images/icon-mastercard.svg'); }
.reg .bank-icon.maestro { background-image: url('../images/icon-maestro.svg'); }
.reg .bank-icon.visa { background-image: url('../images/icon-visa.svg'); }
.reg .bank-icon.mir { background-image: url('../images/icon-mir.svg'); }
.reg form { display: block; margin-bottom: 10px; }
.reg button { border: 2px solid #61583a; background-image: linear-gradient(to bottom, #e8d195, #908156); border-radius: 10px; color: #000; font-weight: bold; padding: 10px; max-width: 290px; width: 290px; }
.reg button small { font-weight: normal; }

.timetable-wrapper { background-color: #130419; color: #fff; font-size: 16px; }
.table-legend ul { list-style: none; padding: 0; }
.table-legend ul li { display: inline-block; margin-right: 30px; }
.table-legend ul li.softfitness::before, .timetable p.softfitness::before { content: ''; width: 3px; border: 3px solid #02a001; margin-right: 5px; }
.table-legend ul li.functional::before, .timetable p.functional::before { content: ''; width: 3px; border: 3px solid #0400fb; margin-right: 5px; }
.table-legend ul li.force::before, .timetable p.force::before { content: ''; width: 3px; border: 3px solid #fef301; margin-right: 5px; }
.table-legend ul li.dance::before, .timetable p.dance::before { color: #fff; content: ''; width: 3px; border: 3px solid #fba3fa; margin-right: 5px; }
.table-legend ul li.cardio::before, .timetable p.cardio::before { content: ''; width: 3px; border: 3px solid #f90101; margin-right: 5px; }
.timetable p.default::before { content: ''; width: 3px; border: 3px solid #fff; margin-right: 5px; }
.timetable { position: relative; }
.timetable-wrapper .event-date { color: #ae9b76; }
.timetable::after { clear: both; }
.timetable p { font-size: 20px; }
.timetable .row { margin: 15px 0; }
.timetable .time { font-size: 18px; font-weight: bold; }
.timetable .time .delimiter { display: block; text-align: center; font-weight: normal; font-size: 14px; color: #a2a2a2; }
.timetable .time .before-time { font-size: 14px; font-weight: normal; display: inline-block; text-align: center; color: #a2a2a2; padding-left: 3px; }

#presenters-section { background: #130419; color: #fff; }
.presenters .item { margin-bottom: 50px; }
.presenters .item img { border: 1px solid #908156; box-shadow: 0 0 30px rgba(255,255,255,0.7); }
.presenters .item::before, .presenters .item::after { content: " "; display: table; }
.presenters .item::after { clear: both; }

.partners { margin-bottom: 100px; }
.partners img { margin-bottom: 30px; margin-right: 20px; }

.video.section { margin: 50px 0; }

footer { background-color: #130419; padding-top: 50px; position: relative; color: #fff; }
footer a,
footer a:hover { color: #ae9b76; }
footer .phones { margin: 50px 0; }
footer .phones h2,
footer .email h2 { margin: 0; }
footer .phones h1,
footer .email h1 { margin: 5px; }
footer .email { margin-bottom: 50px; }
footer .info { color: #606060; margin-bottom: 50px; font-size: 18px; }
footer .slogan { color: #ae9b76; }

@media (max-width: 600px) {
	.video.section iframe { width: 100%; }
}

@media (max-width: 420px) {
	header .logo { width: 100%; }
	#counter { font-size: 4em; }
	.table-legend ul li { display: block; }
	.video.section iframe { width: 100%; }
	h1.title { font-size: 44px; }
	.presenters .item img { width: 100%; }
}