body { background-color: #fff; color:#212121; font-family: 'PT Sans Narrow', sans-serif; }

header { color: #fff; background: url('../images/bgr-header.jpg') no-repeat, #000; background-position: top center; background-size: cover; min-height: 700px; }
header .logo { margin: 50px 0 0px; }
header .event-date { margin-top: 5px; margin-bottom: 20px; }

#counter { font-size: 5em; font-weight: bold; color: #fff; }
#counter span { position: relative; }
#counter .days::before,
#counter .hours::before,
#counter .mins::before,
#counter .secs::before { content: 'дней'; position: absolute; font-size: 0.15em; text-transform: uppercase; top: 0px; left: 5px; }
#counter .hours::before { content: 'часов'; }
#counter .mins::before { content: 'минут'; }
#counter .secs::before { content: 'секунд'; }

@media (max-width: 420px) {
	header .logo { width: 100%; }
	#counter { font-size: 4em; }
}
