<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
	<meta property="og:title" content="{{ site.name }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:image" content="{{ "/images/logo-dark.jpg" | prepend: site.url }}">
	<meta property="og:description" content="{{ site.description }}">
	<title>{{ site.name }}</title>
	<link href="{{ "/css/bootstrap.min.css" | prepend: site.url }}" rel="stylesheet">
	<link href="{{ "/css/template.css" | prepend: site.url }}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png?v=20181001" | prepend: site.url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png?v=20181001" | prepend: site.url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png?v=20181001" | prepend: site.url }}">
	<link rel="manifest" href="{{ "/site.webmanifest?v=20181001" | prepend: site.url }}">
	<link rel="mask-icon" href="{{ "/safari-pinned-tab.svg?v=20181001" | prepend: site.url }}" color="#1e0525">
	<link rel="shortcut icon" href="{{ "/favicon.ico?v=20181001" | prepend: site.url }}">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

	{% include analytics.html %}
	
	{{ content }}
	
</body>
</html>
